                           /* ============================== */
                           /*            Reset               */
                           /* ============================== */

* { padding: 0; margin: 0; }

                           /* ============================== */
                           /*           Format               */
                           /* ============================== */
html{
   background-image: linear-gradient(rgb(49, 145, 247), rgb(204, 234, 246));
	font-family: "Comic Sans MS", "Comic Sans", "Verdana", "Geneva", sans-serif;
   font-size: 2.75vw;
   overflow-x: hidden;
}
a{
   color: inherit;
   text-decoration: none;
}
                           /* ============================== */
                           /*             Header             */
                           /* ============================== */
header{
   position: relative;

	/*border: 2px dashed rgb(0, 0, 0);*/
}
                           /* ============================== */
                           /*             Heading            */
                           /* ============================== */
img.splash{
	position: absolute;
   left: 0;
   right: 0;
   margin-left: auto;
   margin-right: auto;
	width: 90%;
	z-index: 1;

	/*border: 4px dashed rgb(200, 0, 0);*/
}
img.cloudTen{
   position: relative;
	margin-left: 40%;
	margin-top: 3%;
   padding-bottom: 5%;
   width: 50%;

   -webkit-animation:   wobble 1s ease-in-out normal infinite forwards;
   -moz-animation:      wobble 1s ease-in-out normal infinite forwards;
   -o-animation:        wobble 1s ease-in-out normal infinite forwards;
   animation:           wobble 1s ease-in-out normal infinite forwards;

	/*border: 2px dashed rgb(32, 32, 32);*/
}
                           /* ============================== */
                           /*             Body               */
                           /* ============================== */
.area{
   position: relative;
   text-align: center;
   margin: 16% 0 16% 0;
   z-index: 1;

   /*border: 2px dashed rgb(255, 0, 0);*/
}
img.title{
   position: relative;
   width: 50%;
   margin: 0 0 2% 0;
}
body:focus .slider{
   -webkit-animation:   slideIn 0.25s ease-out normal 1 forwards;
   -moz-animation:      slideIn 0.25s ease-out normal 1 forwards;
   -o-animation:        slideIn 0.25s ease-out normal 1 forwards;
   animation:           slideIn 0.25s ease-out normal 1 forwards;
}
body:focus img.slide{
   -webkit-animation:   pointUp 0.25s ease-out normal 1 forwards;
   -moz-animation:      pointUp 0.25s ease-out normal 1 forwards;
   -o-animation:        pointUp 0.25s ease-out normal 1 forwards;
   animation:           pointUp 0.25s ease-out normal 1 forwards;
}
                           /* ------------------------------ */
                           /*             About              */
                           /* ------------------------------ */
.textBox{
   text-align:justify;
   color: rgba(0, 0, 0, 0.75);
   width: 85%;
   margin: 0 0 0 4%;
   padding: 3% 3% 3% 3%;
   border-radius: 16px;
   background-color: rgba(255, 255, 255, 0.25);
   box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.25);

   /*border: 2px dashed rgb(32, 32, 32);*/
}
                           /* ------------------------------ */
                           /*          Screenshots           */
                           /* ------------------------------ */
img.thumbnail{
   display: inline-block;
   margin: 0 2% 0 2%;
   width: 45%;
   border-radius: 4%/6%;
   box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.5);
}
                           /* ------------------------------ */
                           /*           Downloads            */
                           /* ------------------------------ */

.buttonDownload{
   display: inline-block;
   margin: 0 2% 0 2%;
   width: 16%;
   height: 25%;
   line-height: 200%;
   border-radius: 4%/11%;
   box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.25);
   background-color: rgba(0, 255, 0, 0.5);
}
                           /* ------------------------------ */
                           /*             Footer             */
                           /* ------------------------------ */
footer{
   /*padding-top: 10%;*/
   position: relative;
   height: 12vw;
   text-align:center;
   overflow-y: hidden;

   /*border: 2px dashed rgb(32, 32, 32);*/
}
.slider{
   display: inline-block;
   width: 90%;
   margin: 8% 0 0 5%;
   border-radius: 16px 16px 0 0;
   background-color: rgba(255, 0, 0, 0.25);
   box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.25);

   -webkit-animation:   slideIn 0.25s ease-out normal 1 forwards;
   -moz-animation:      slideIn 0.25s ease-out normal 1 forwards;
   -o-animation:        slideIn 0.25s ease-out normal 1 forwards;
   animation:           slideIn 0.25s ease-out normal 1 forwards;

   /*border: 1px dashed rgb(32, 32, 32);*/
}
.slider:hover, .slider:focus{
   -webkit-animation:   slideOut 0.25s ease-out normal 1 forwards;
   -moz-animation:      slideOut 0.25s ease-out normal 1 forwards;
   -o-animation:        slideOut 0.25s ease-out normal 1 forwards;
   animation:           slideOut 0.25s ease-out normal 1 forwards;

}
.slider:hover img.slide, .slider:focus img.slide{
   -webkit-animation:   pointDown 0.25s ease-out normal 1 forwards;
   -moz-animation:      pointDown 0.25s ease-out normal 1 forwards;
   -o-animation:        pointDown 0.25s ease-out normal 1 forwards;
   animation:           pointDown 0.25s ease-out normal 1 forwards;
}
.contact{
   color: rgba(0, 0, 0, 1);
   font-size: 2vw;
   display: inline-block;
   text-align: center;
   vertical-align: top;
   padding-top: 1%;
   padding-bottom: 5%;
   width: 30%;

   /*border: 1px dashed rgb(32, 32, 32);*/
}
img.slide{
   width: 10%;
   opacity: 0.5;

   -webkit-animation:   pointUp 0.25s ease-out normal 1 forwards;
   -moz-animation:      pointUp 0.25s ease-out normal 1 forwards;
   -o-animation:        pointUp 0.25s ease-out normal 1 forwards;
   animation:           pointUp 0.25s ease-out normal 1 forwards;
}
img.icon{
   width: 10%;
   padding: 5% 5% 5% 5%;
   opacity: 0.5;
}
img.icon:hover{
   opacity: 1;
}
                           /* ============================== */
                           /*           Animations           */
                           /* ============================== */
@keyframes wobble{
   0%{
      transform:
         rotate(0)
         scale(1);
   }
   50%{
      transform:
         rotate(5deg)
         scale(1.1);
   }
   100%{
      transform:
         rotate(0)
         scale(1);
   }
}
@keyframes float{
   0%{
      transform: translateX(0);
   }
   100%{
      transform: translateX(1100%);
   }
}
@keyframes slideIn{
   0%{
      transform: translateY(-30%);
   }
   100%{
      transform: translateY(0);
   }
}
@keyframes slideOut{
   0%{
      transform: translateY(0);
   }
   100%{
      transform: translateY(-30%);
   }
}
@keyframes pointUp {
   0%{
      transform: rotate(-180deg);
   }
   100%{
      transform: rotate(0);
   }
}
@keyframes pointDown {
   0%{
      transform: rotate(0);
   }
   100%{
      transform: rotate(-180deg);
   }
}
